<mat-card id="messages-container">
  <div id="messages">
    <span id="message-filler"></span>

    <div class="message-container" *ngFor="let message of messages">
      <div class="spacing">
        <div class="pic" [style.background-image]="message.senderPhotoUrl ? 'url(' + message.senderPhotoUrl + ')' : ''"></div>
      </div>

      <div class="message">
        <span *ngIf="message.text">{{ message.text }}</span>
        <img *ngIf="message.photoUrl" [src]="message.photoUrl">
      </div>

      <div class="name">{{ message.senderName }} on {{ message.createdOn | date:'h:mm:ss, d.M.yyyy' }}</div>
    </div>
  </div>

  <form id="message-form" [formGroup]="messageForm" (submit)="sendTextMessage()">
    <mat-form-field>
      <mat-label>Message...</mat-label>
      <input matInput id="message-text" formControlName="messageText" autocomplete="off">
    </mat-form-field>
    <button mat-raised-button color="primary" id="submit" [disabled]="!messageText.value" type="submit">
        Send
    </button>
  </form>

  <form id="image-form" [formGroup]="imageForm" action="#">
    <input #mediaCapture id="mediaCapture" type="file" accept="image/*" (change)="onFileChange($event)">
    <button mat-raised-button id="submitImage" title="Add an image" (click)="setImage()">
      <i class="material-icons">image</i>
    </button>
  </form>
</mat-card>
