:host {
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  display: flex;
}

mat-toolbar > .stretch {
  flex: 1;
}

mat-toolbar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.content {
  flex: 1;
  padding: 10px;
  background-color: #eeeeee;
}

blockquote{
  font-size: 1.0em;
  width:60%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #3f51b5;
  line-height:1.6;
  position: relative;
  background: ivory;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#3f51b5;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}
